<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/sagui.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")">
                    <div>
                        <img src="~/images/sagui_logo.svg" class="h1Sagui svgFill">
                        <span class="h1TextoSagui">
                            SAGUI - SOFTWARE ADMINISTRAÇÃO DE GUIAS
                        </span>
                    </div>
                </a>
            </div>
            <div class="navbar-collapse collapse cliente">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Área do Cliente", "Index", "LogIn", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year | SAGUI - Software de administração de guias</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
